.App {
  display: flex;
}

.column {
  border: 1px solid grey;
  margin: 10px;
  width: 240px;
  min-height: 100px;
  border-radius: 5px;
  padding: 5px;
}

.column > h3 {
  padding: 8px;
}

.task-list {
  padding: 8px;
}

.task {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  background-color: white;
}
